.row.mhn.mvxxl.txt-c
  a(href='https://docs.openshift.com/container-platform', target='_blank')
    img(src='/images/cloud-foundry.svg', width='28', alt='OpenShift', title='OpenShift')
    br
    span.txt-c.small.type-neutral-4
      | This is a Cloud Foundry sample application deployed in OpenShift
  div( data-ping='ping' style='display: none;')
